.timeframe-button {
  background-color: rgb(24, 24, 27);
  border: 1px solid rgb(39, 39, 42);
  border-radius: 0.25rem;
  color: #f2f2f2;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.timeframe-button:hover {
  background-color: #374151;
  border-color: #4b5563;
  color: #fff;
}

.timeframe-button.active {
  background-color: #4b5563;
  border-color: #4b5563;
  color: #f2f2f2;
}
